<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">  
    
<mapper namespace="cn.md.show.cms.data.GiftPackMapper">  
    
	<insert id="insertGiftPack" parameterType="GiftPack">
	  	INSERT INTO `t_gift_pack` 
	  		( `id` , `name` , `priority` , `description` )
	  	VALUES 
	  		( #{id} , #{name} , #{priority} , #{description} ) ;
	</insert>
	
	<update id="updateGiftPack" parameterType="GiftPack">
	  	UPDATE `t_gift_pack` SET
			`id` = #{id},
			`name` = #{name},
			`priority` = #{priority},
			`description` = #{description}
	  	WHERE id = #{id} ;
	</update>
	
	<select id="findAll" resultType="GiftPack">  
        SELECT  * FROM `t_gift_pack` ;
    </select>
    
	<select id="findById" parameterType="HashMap" resultType="GiftPack">  
        SELECT  * FROM `t_gift_pack` WHERE `id` = #{id} ;
    </select>
	
	<delete id="deleteById" parameterType="HashMap" >
		DELETE FROM `t_gift_pack` WHERE `id` = #{id} ;
	</delete>
    
</mapper>
