<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">  
    
<mapper namespace="cn.md.show.cms.data.VisitMapper">  
    
	<insert id="insertVisit" parameterType="Visit">
	  	INSERT INTO `t_visit` 
	  		( `id` , `from_user_id` , `to_user_id` , `action_time` )
	  	VALUES 
	  		( #{id} , #{fromUserId} , #{toUserId} , #{actionTime} ) ;
	</insert>
	
	<update id="updateVisit" parameterType="Visit">
	  	UPDATE `t_visit` SET
			`id` = #{id},
			`from_user_id` = #{fromUserId},
			`to_user_id` = #{toUserId},
			`action_time` = #{actionTime}
	  	WHERE id = #{id} ;
	</update>
	
	<select id="findAll" resultType="Visit">  
        SELECT  * FROM `t_visit` ;
    </select>
    
	<select id="findById" parameterType="HashMap" resultType="Visit">  
        SELECT  * FROM `t_visit` WHERE `id` = #{id} ;
    </select>
	
	<delete id="deleteById" parameterType="HashMap" >
		DELETE FROM `t_visit` WHERE `id` = #{id} ;
	</delete>
    
</mapper>
